
	
	<!-- <div class="affiche-secondary-body">
		<p ng-show="visaimg || mastercardimg || ameximg">
			Nous acceptons les cartes suivantes :</p>
		
		<ul style="display: inline-block;">
			<li><img ng-src="{{visaimg}}"/></li>
			<li><img ng-src="{{mastercardimg}}"/></li>
			<li><img ng-src="{{ameximg}}"/></li>
		</ul>
	</div>

</div>
-->

<div id="affiche-body" class="affiche-body">
Chers clients,<br>
nous acceptons la Carte Bancaire <br>
à partir de {{cbAmount}} €.<br>
</div>
<div id="affiche-secondary-body">Merci de votre compréhension.</div>
